<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
   
        <!-- bootstrap -->

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- [/] bootstrap -->


   <!-- jquery -->
   <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
   <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
   <!-- [/] jquery -->

   <!-- bootstrap -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
   <!-- [/] bootstrap -->
</head>
<body>
    

<!------------Start Div--------->
<div>

    <!--------Navigation ------>
 
 
 <nav>
     <input type="checkbox" id="check">
     <label for="check" class="checkbtn">
       <i class="fa fa-align-justify"></i>
     </label>
   
   
     <label for="" class="logo">MathGarden</label>
         <ul>
             <li><a mat-button class="btn " routerLink="/home">Home</a></li>
             <li><a mat-button class="btn" routerLink="/about">About</a></li>
             <li><a mat-button class="btn active" routerLink="/services">Services</a></li>
             <li><a mat-button class="btn" routerLink="/contact">Contact</a></li>
             <li><a mat-button class="btn " >Logout</a></li>
             <li><a mat-button class="btn btn-warning" href="https://drive.google.com/file/d/1ITvEZMxH8KIKku5Qfb_cQHBHezF1raBw/view" >Download</a></li>
         </ul>
   </nav>
   
   <!-------------End Navigation------->
 <div class="container">
     <div class="row justify-content-center">
         <h3 class="text-uppercase">Services</h3>
     </div>
 </div>

<!--------End Div----------->
 </div>

</body>
</html>