<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modal</title>
</head>
<body>
  <section>


      
 <div>
    <div class="modal-header">
      <h4 class="modal-title">Confirmation Message!</h4>
    </div>
      <div class="modal-body">
        <p>Are you sure you want to log out?</p>
      </div>
        <div class="modal-footer">
           <button class="btn-button" mat-button mat-dialog-close="true" routerLink="/login" >Yes</button>
            <button class="btn-button" mat-button mat-dialog-close="false" >Cancel</button>
           
        </div>
</div>

       




  
  </section>
</body>
</html>


