<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Home</title>



    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
   
        <!-- bootstrap -->

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- [/] bootstrap -->


   <!-- jquery -->
   <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
   <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
   <!-- [/] jquery -->

   <!-- bootstrap -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
   <!-- [/] bootstrap -->

  </head>
<body>

<!------------Start Div--------->
<div>

   <!--------Navigation ------>


<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fa fa-align-justify"></i>
    </label>
  
  
    <label for="" class="logo">MathGarden</label>
        <ul>
            <li><a mat-button class="btn active" routerLink="/home">Home</a></li>
            <li><a mat-button class="btn" routerLink="/about">About</a></li>
            <li><a mat-button class="btn" routerLink="/services">Services</a></li>
            <li><a mat-button class="btn" routerLink="/contact">Contact</a></li>
            <li><a mat-button class="btn" >Logout</a></li>
            <li><a mat-button class="btn btn-warning" href="https://drive.google.com/file/d/1ITvEZMxH8KIKku5Qfb_cQHBHezF1raBw/view" >Download</a></li>
        </ul>
  </nav>
  
  <!-------------End Navigation------->



<!--------Carousel Sliding Image--------->


<ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="container-images" src="../../assets/img/1.png" alt="Random first slide">
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="container-images" src="../../assets/img/2.png" alt="Random second slide">
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img  class="container-images" src="../../assets/img/9.png" alt="Random third slide">
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="container-images" src="../../assets/img/11.png" alt="Random fourth slide">
      </div>
    </ng-template>


    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="container-images" src="../../assets/img/12.png" alt="Random fifth slide">
      </div>
    </ng-template>
  </ngb-carousel>

<!-------End Carousel--------->



<!-----------Wrap Text Image------->

<section class="bg-light">
    <div class="container-fluid">
      <div class="row align-items-center row mx-md-5 ">
    
    
    <div class="col-md-6  element-animate">
    <div>
    <h3 class="text-uppercase "><b>MathGarden</b></h3>
    <a class="line">____</a>
    <p class="justify-content-center mr-md-5 ">It is a mobile application that the user can learn in different topics such as sorting and classifying with 2D/3D shapes, object comparison, for counting with add and subtract the object, number with fraction and measurements.</p>
    </div>
    </div>
    <div class="col-md-6 element-animate">
    <img src="../../assets/img/1.png" alt="" class="img-fluid">
    </div>
    
      </div>
    </div>
    </section>
    <!-------End  Wrap Text Image----->



<!-----Title Header------>
<section>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="text-center">
      <h2 class="text-uppercase text-center"><b>Recent Design</b></h2>
      <a class="line">____</a>
      <p class="text-center desc">This part displays the actual screen shot of the app <br>from the start up to the main functionalities.</p>
    </div>      
  </div>
  </div>
</section>

<!---------End Title Header--------->


<!----------Picture 3 Columns--------->

<section>
  <div class="container-fluid ">
    <div class="row mx-md-5 mb-2">

      <div class=" col-md-4 pb-2 images inner">
        <img src="../../assets/img/1.png" alt="" class="img-fluid">
      </div>


            
      <div class="col-md-4 pb-2 images inner">
        <img src="../../assets/img/user.png" alt="" class="img-fluid">
      </div>

      
      <div class="col-md-4 pb-2 images inner">
        <img src="../../assets/img/tap.png" alt="" class="img-fluid">
      </div>

      <div class="col-md-4 pb-2 images inner">
        <img src="../../assets/img/2.png" alt="" class="img-fluid">
      </div>


      <div class="col-md-4 pb-2 images inner">
        <img src="../../assets/img/3.png" alt="" class="img-fluid">
      </div>

   
      <div class="col-md-4 pb-2 images inner">
        <img src="../../assets/img/4.png" alt="" class="img-fluid">
      </div>


      <div class="col-md-4 pb-2 images inner">
        <img src="../../assets/img/5.png" alt="" class="img-fluid">
      </div>


      
      <div class="col-md-4 pb-2 images inner">
        <img src="../../assets/img/quiz.png" alt="" class="img-fluid">
      </div>


      <div class="col-md-4 pb-2 images inner">
        <img src="../../assets/img/corrent.png" alt="" class="img-fluid">
      </div>

      
      <div class="col-md-4 pb-2 images inner">
        <img src="../../assets/img/wrong.png" alt="" class="img-fluid">
      </div>


      
      <div class="col-md-4 pb-2 images inner">
        <img src="../../assets/img/pass.png" alt="" class="img-fluid">
      </div>


      <div class="col-md-4 pb-2 images inner">
        <img src="../../assets/img/failed.png" alt="" class="img-fluid">
      </div>

    </div>
  </div>
</section>

    
 
    <!--------End Grid Design------->


<!-------Card Image Desing--------->


<!-----Title Header------>
<section>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="text-center">
      <h2 class="text-uppercase text-center"><b>Services</b></h2>
      <a class="line">____</a>
      <p class="text-center desc">Our services offered such as:</p>
    </div>      
  </div>
  </div>
</section>

<!---------End Title Header--------->

<section>
  <div class="container-fluid">

    <div class="row mx-md-5 justify-content-center">
      <div class="col-md-4  text-center ">

      <div class="card ">
          <img class="img-fluid card-img-top images" src="../../assets/img/POINT - Final.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-uppercase"><b>Point of Sales and Inventory</b></h5>
            <p class="card-text mb-sm-3">MathGarden are capable to do any transaction regarding to your business.</p>
            <a  class="btn learn ">Learn More</a>
          </div>
        </div>
      </div>
    
     
    
      <div class="col-md-4 text-center ">
        <div class="card">
          <img class=" card-img-top" src="../../assets/img/images (18).jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-uppercase"><b>Website</b></h5>
            <p class="card-text mb-sm-3">MathGarden are capable to do any website to your business or project.</p>
            <a  class="btn learn">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="card">
          <img class="img-fluid card-img-top" src="../../assets/img/images (19).jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-uppercase"><b>2D Mobile Application</b></h5>
            <p class="card-text mb-sm-3">MathGarden are capable to do any 2D Mobile Application or E-learning.</p>
            <a  class="btn learn">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!----------End Card Image--------->


<!------------Our News Slider ---------->
<!-----Title Header------>
<section>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="text-center">
      <h2 class="text-uppercase text-center"><b>Our Designs</b></h2>
      <a class="line">____</a>
      <p class="text-center desc">Our designs are currently updated.</p>
    </div>      
  </div>
  </div>
</section>

<!---------End Title Header--------->
<div class="container-fluid">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="row">
        <div class="col-md-4"> <img class="d-block w-100" src="../../assets/img/1.png" alt="First slide">   </div>
        <div class="col-md-4"><img class="d-block w-100" src="../../assets/img/2.png" alt="First slide"></div>
        <div class="col-md-4"><img class="d-block w-100" src="../../assets/img/3.png" alt="First slide"> </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row">
      <div class="col-md-4"><img class="d-block w-100" src="../../assets/img/quiz.png" alt="Second slide"></div>
      <div class="col-md-4"><img class="d-block w-100" src="../../assets/img/sort-cert.png" alt="Second slide"></div>
      <div class="col-md-4"><img class="d-block w-100" src="../../assets/img/corrent.png" alt="Second slide"></div>
    </div>
  </div>

    <div class="carousel-item">
      <div class="row">
      <div class="col-md-4"> <img class="d-block w-100" src="../../assets/img/3.png" alt="Third slide"></div>
      <div class="col-md-4"> <img class="d-block w-100" src="../../assets/img/wrong.png" alt="Third slide"></div>
      <div class="col-md-4"> <img class="d-block w-100" src="../../assets/img/4.png" alt="Third slide"></div>
    </div>
  </div>

  </div> <!--End Carousel inner-->
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <!-- <span class="sr-only">Previous</span> -->
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <!-- <span class="sr-only">Next</span> -->
  </a>
</div>
</div>




 <!--------End Div--------->
</div>


</body>
</html>
