
.body-background{
    background-image: url("../../assets/img/1.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height:100vh;
}
:root{
    --main-font: 'Pacifico', cursive;
}
.wrapper{
    padding-top:150px;
}
.form-signin{
    
    max-width: 300px; 
    margin: auto;
    background-color: #fff;
    padding-left:25px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top:20px;
    /* padding: 15px 40px 50px; */
    border: 1px solid #e5e5e5;
    border-radius: 5%;
    background-position: fixed;
    
}
.form-signin input[type="text"], .form-signin input[type="password"] {
    margin-bottom: 20px;
}
.form-signin .form-control {
    padding:10px;
}

.success{
    font-size: 20px;
    color:blue;
    font-weight: bold;
    font-style: italic;
}
.alert{
    font-size: 20px;
    color: red;
    font-weight: bold;
    font-style: italic;
}

@media (max-width: 858px) {
    .wrapper{
        padding-top:100px;
    }
}
