<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    
    
  <div class="body-background">
    <div class="wrapper">

      <form class="form-signin" #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
        <h2 class="form-signin-heading text-center" >Register</h2>
        <input class="form-control" type="text" #fullName="ngModel" [(ngModel)]="userService.selectedUser.fullName" name="fullName" placeholder="Full Name"
        required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !fullName.valid }">
        <div *ngIf="signUpForm.submitted && !fullName.valid">
          <label class="validation-message">This field is required.</label>
        </div>
        <input class="form-control" type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="Email"
        required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
        <div *ngIf="signUpForm.submitted && email.errors">
          <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
          <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
        </div>
        <input class="form-control" type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="Password"
        minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
        <div *ngIf="signUpForm.submitted && password.errors">
          <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
          <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 4 characters.</label>
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit"  >
        <input class="btn btn-lg btn-primary btn-block" routerLink="/login" value="Back"  >
      </form>
      
      <!-- Success message -->
      <div class="success justify-content-center text-center" *ngIf="showSucessMessage">
        Saved successfully
      </div>
      
      <!-- Error message -->
      <div class="alert justify-content-center text-center" *ngIf="serverErrorMessages">
        {{serverErrorMessages}}
      </div>


    </div>
  </div>


</body>
</html>